body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #434455;
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
}

/* Typography */
h1,
h2,
h3 {
  color: #2E2F42;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  text-transform: uppercase;
}
.logo span {
  color: #2E2F42;
}
header nav a {
  font-weight: 500;
  color: #2E2F42;
  text-transform: uppercase;
}
header nav a:hover,
header nav a:focus {
  color: #404BBF;
}

.address {
  font-style: normal;
}
.address a {
  color: #434455;
}
.address a:hover,
.address a:focus {
  color: #404BBF;
}

/* section hero */
.hero {
  background-color: #2E2F42;
}
.hero-title {
  color: #FFFFFF;
}
.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}

/* section team */
.team {
  background: #F4F4FD;
}

/* section footer */
footer {
  color: #F4F4FD;
  background-color: #2E2F42;
}
footer .logo {
  color: #F4F4FD;
}